html, body {
    height: 100%;
    background-color:#052D92;
}
.main {
    height: 100%;
    width: 100%;
    display: table;
    position: absolute;
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    margin-bottom: 64px;
}

.btn {
    background-color: #046FDB;
}

#main-container {
    margin: auto;
    max-width: 500px;
}

#landing_description {
    width: 100%;
    text-align: center;
    margin: auto;
}

#file-upload {
    width: 100%;
    margin:20px auto;
}

#file-upload-text {
    margin-left: 32px;
}

#submit-button {
    width: 100%;
    margin:0 auto;
    display: block;
}

.rounded-border {
    border-style: none;
    -webkit-border-radius: 64px;
    -moz-border-radius: 64px;
    border-radius: 64px;
    padding: 32px 64px;
    border-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.75);
    z-index:999;
}

.collection-header {
    font-size: 20px;
}
